<div>
    <h1>Chemotherapy Calculator</h1>
    <div class="main">
        <div class="first-col">
            <h3>Patient Info</h3>
            <div>
                <button (click)="setGenre('male')">Male</button>
                <button (click)="setGenre('female')">Female</button>
                <label for="">Age</label>
                <input type="number" placeholder="Age" [(ngModel)]="patientInfo.age">
                <input type="number" placeholder="Height" [(ngModel)]="patientInfo.height" (input)="getDose(selectedDrug, patientInfo)">
                <input type="number" placeholder="Weight" [(ngModel)]="patientInfo.weight" (input)="getDose(selectedDrug, patientInfo)">
                <input type="number" placeholder="Creatinine" [(ngModel)]="patientInfo.creatinine" >
                <input type="number" placeholder="AUC" [(ngModel)]="patientInfo.auc">
                <button (click)="resetPatientInfo()">Reset</button>
            </div>
        </div>
        <div class="second-col">
            <div>
                <h3>Course Scheme</h3>
                <select
                (change)="selectCancer($event)"
                [disabled]="allowSelectCancers(patientInfo)">
                    <option>Select Cancer</option>
                    <option 
                    *ngFor="let cancer of cancerList; index as i"
                    [value]="i"
                    >{{cancer.type}}</option>
                </select>
                <select
                (change)="getResults(patientInfo, $event)"
                [disabled]="allowSelectRegime()">
                    <option>Select Regime</option>
                    <option *ngFor="let drug of selectedCancer; index as i"
                    [value]="i">{{drug.drugOption}}</option>
                </select>
                
                <h3>Results</h3>
                <h4 *ngFor="let dose of doseValue">{{dose.drug}}{{dose.dose}}mg</h4>
                <h4 *ngIf="selectedDrugCarboplatin">Carboplatin = {{getCarboplatin(patientInfo)}}mg</h4>
                <h4>BSA = {{getBsa(patientInfo)}}m²</h4>
                <h4>CrCl = {{getCrCl(patientInfo)}}mL/min</h4>
                
            </div>
            
        </div>
    </div>
</div >
<!-- Paclitaxel 80mg/m2 -->