.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding: 20px;
}

.white-circle {
  background: white;
  width: 1000px;
}
