.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding: 20px;
}

.main {
  max-width: 700px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 13.5px 7.1px rgba(0, 0, 0, 0.032),
    0 30.3px 23.9px rgba(0, 0, 0, 0.048), 0 100px 107px rgba(0, 0, 0, 0.08);
}

@media (max-width: 600px) {
  .title {
    text-align: center;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
  }
}
