/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*REMOVE ARROW FROM NUMBER INPUTS*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html {
  height: 100vh;
}

body {
  width: 100%;
  /*   min-height: 100vh; */
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  /* background-color: rgb(74, 143, 160); */
  background: rgb(3, 120, 166);
  background: linear-gradient(
    335deg,
    rgb(4, 100, 138) 46%,
    rgb(87, 200, 231) 100%
  );
}
